/* ASIDE */

aside {
    width: 230px;
    background-color: black;
    color: #d2d2d2;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.logo {
    padding-top: 1.25rem;
    padding-left: 1.25rem;
}
nav img {
    filter: invert(60%);
}
.add {
    margin-left: 18px;
    margin-top: 10px;
}

aside nav {
    padding-left: 1.25rem;
    color: #a3a3a3;
}
aside h4 {
    color: white;
    margin-left: 8px;
    padding-top: 10px;
}

aside li {
    padding: .3125rem;
    align-items: center;
    font-size: 14px;
}
.add {
    width: 37px;
    height: 37px;
    color: black;
    background-color: #a3a3a3;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;
}
.download img {
    width: 20px;
    filter: invert(60%);
}
.download {
    color: #a3a3a3;
}
.profile {
    margin-top: .8125rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 10px;
    padding-top: .9375rem;
    align-items: center;
    border-top: 1px solid #a3a3a3;
}
.profile .img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: grey;
}
.account {
    margin-top: auto;
}
.playlist {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
}
.playlist-nav {
    flex-grow: 1;
    overflow-y: hidden;
}
.playlist-nav ul {
    overflow-y: auto;
    height: 100%;
}




@media screen and (max-width: 600px) {
    aside {
        width: 50px;
    }
    .logo > .h-40 {
        display: none;
    }
    .logo > .h-30 {
        display: block;
    }
    .logo {
        padding-top: .3125rem;
        padding-left: .625rem;
    }
    aside small, .playlist,  aside .p-left-10, strong {
        display: none;
    }
    aside nav {
        padding-top: .625rem;
        padding-left: .625rem;
    }
    aside i {
        font-size: 1.375rem;
        padding-bottom: .25rem;
    }
    .profile {
        margin: 0;
        border: none;
        padding: .75rem;
    }
    .download img {
        margin: 0 .1875rem;
    }
    
}