/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 230px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
}

header button {
    background-color: #080b12;
    color: white;
    border: 1px solid white;
    border-radius: 2.5rem;
    height: 2.5rem;
    padding: 0 2.5rem;
    margin-right: 30px;
}

@media screen and (max-width: 600px) {
    header {
        left: 50px;
    }
}